.text-10 {
  font-size: 10px !important;
}
.text-12 {
  font-size: 12px !important;
}
.text-14 {
  font-size: 14px !important;
}
.text-16 {
  font-size: 16px !important;
  font-weight: 400;
}
.text-18 {
  font-size: 18px !important;
}
.text-20 {
  font-size: 20px !important;
}
.text-22 {
  font-size: 22px !important;
}
.text-24 {
  font-size: 24px !important;
}
.text-32 {
  font-size: 32px !important;
}
.text-48 {
  font-size: 48px !important;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-55 {
  width: 55%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.button-color{
  background: white;
  color: #814cef;
}
.fwb{
  font-weight: 700;
}